.profile h4 {
	font-size: 15px;
	  font-weight: 300;
	  color: #aaa;
	  margin-top: 10px;
	  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	  font-style: normal;
}

#post-list h1 {
	font: normal 20px/1.7em "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #666;
	max-width: 400px;
	margin-top: 2px;
}

#post-list a {
	display: inline;
	font-size: 100%;
	font-weight: normal;
	margin-bottom: 6px;
	color: #666;
}
/*
#post-list a {
	color: #333;
	display: block;
	font: bold 19px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
}
*/

/**
 * tags page
 */

#wrapper.tags {
  padding: 0px 40px 20px 40px;
}
.page-tags {
    text-align: center;
}

.page-tags .tags {
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
}

.page-tags .tags a {
    color: #666;
}

.page-tags .tags:hover a {
    color: #5694f1;
}

.tagcloud {
    display:inline-block
}

.tagcloud-item {
    margin: .1rem;
    padding: .24rem;
    white-space: nowrap;
    font-weight:700
}

.tagcloud-item:nth-child(1n) {
    color:#03a9f4
}

.tagcloud-item:nth-child(1n):hover {
    background-color: #03a9f4;
    color:#fff
}

.tagcloud-item:nth-child(2n) {
    color:#00161f
}

.tagcloud-item:nth-child(2n):hover {
    background-color: #00161f;
    color:#fff
}

.tagcloud-item:nth-child(3n) {
    color:#028cc9
}

.tagcloud-item:nth-child(3n):hover {
    background-color: #028cc9;
    color:#fff
}

.tagcloud-item:nth-child(4n) {
    color:#01334a
}

.tagcloud-item:nth-child(4n):hover {
    background-color: #01334a;
    color:#fff
}

.tagcloud-item:nth-child(5n) {
    color:#026e9f
}

.tagcloud-item:nth-child(5n):hover {
    background-color: #026e9f;
    color:#fff
}

.tagcloud-item:nth-child(6n) {
    color:#539dd2
}

.tagcloud-item:nth-child(6n):hover {
    background-color: #539dd2;
    color:#fff
}

.tagcloud-item:nth-child(7n) {
    color:#6c91b1
}

.tagcloud-item:nth-child(7n):hover {
    background-color: #6c91b1;
    color:#fff
}

.tagcloud-item:nth-child(8n) {
    color:#758ca0
}

.tagcloud-item:nth-child(8n):hover {
    background-color: #758ca0;
    color:#fff
}

.tagcloud-item:nth-child(9n) {
    color:#3da3e3
}

.tagcloud-item:nth-child(9n):hover {
    background-color: #3da3e3;
    color:#fff
}

.container {
    margin: .5rem;
    margin-bottom: 1rem;
    padding: 1.25rem 2rem;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px
}

sup {
  vertical-align: super;
  font-size: smaller;
}
